body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.title {
    font-weight: lighter;
}

#nav-link{
    color: #565959;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;  
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 300px;
}

.image-left{
    margin: 0 30px 0 20px;
}

.image-right{
    margin: 0 30px 0 0px;
}
#author{
    margin: 0 0 10px 0;
}
.rate{
    width: 120px;
}
h4{
    margin: 10px 0;
}
.details{
    margin: 10px 0;
}
